In [2]:
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bluff,NZ,2022-04-27 22:23:46,-46.6000,168.3333,284.71,78,93,3.05
1,1,Khatanga,RU,2022-04-27 22:20:27,71.9667,102.5000,265.60,86,100,5.98
2,2,Albany,US,2022-04-27 22:23:46,42.6001,-73.9662,279.79,47,55,5.81
3,3,Haines Junction,CA,2022-04-27 22:23:47,60.7522,-137.5108,279.12,75,91,1.03
4,4,Bredasdorp,ZA,2022-04-27 22:23:47,-34.5322,20.0403,286.31,89,0,0.46

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
gmaps.configure(api_key=g_key)

 1. Assign the locations to an array of latitude and longitude pairs.
locations = [latitude, longitude]
 2. Assign the weights variable to some values.
temperatures = # an array of length equal to the locations array length
 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
 6. Call the figure to plot the data.
fig

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))