## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
weatherPy = pd.read_csv("../vacation_search/WeatherPy_vacation.csv")
# vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
weatherPy
# vacation_df.head()

,hotel_df,City,Country,Max Temp,Lat,Lng,Hotel Name
0,0,Bluff,NZ,53.078,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
1,4,Bredasdorp,ZA,55.958,-34.5322,20.0403,Bredasdorp Country Manor
2,5,Umm Lajj,SA,82.940,25.0213,37.2685,Moon light Furnished Units
3,10,Rikitea,PF,77.036,-23.1203,-134.9692,People ThankYou
4,12,Puerto Ayora,EC,77.234,-0.7393,-90.3518,Finch Bay Galapagos Hotel
...,...,...,...,...,...,...,...
396,575,Lisakovsk,KZ,57.740,52.5369,62.4936,Gostinitsa Lisakovsk
397,579,Nouadhibou,MR,68.252,20.9310,-17.0347,El Medina
398,580,Bumba,CD,71.780,2.1833,22.4667,Père Carlos
399,581,Victor Harbor,AU,65.948,-35.5667,138.6167,McCracken Country Club
400,584,Pundaguitan,PH,80.006,6.3711,126.1689,Leonardo Family Beach House 1

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in weatherPy.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = weatherPy[["Lat", "Lng"]]

In [4]:
fig = gmaps.figure()
marker_layer =gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
vacation_df = weatherPy
#Kutum, SD
# Ler, SS
# Lodwar,KE
# Kismayo,SO

# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Kutum"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Kismayo"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Kutum"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Ler"]
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Lodwar"]
vacation_stop4 = vacation_df.loc[vacation_df["City"]=="Kismayo"]
vacation_stop4

     hotel_df     City Country  Max Temp     Lat      Lng  Hotel Name
120       171  Kismayo      SO    81.356 -0.3582  42.5454  Agan-Hotel

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat","Lng"]].to_numpy().flatten()
end = vacation_end[["Lat","Lng"]].to_numpy().flatten()
stop1 = vacation_stop1[["Lat","Lng"]].to_numpy().flatten()
stop2 =  vacation_stop2[["Lat","Lng"]].to_numpy().flatten()
stop3 =  vacation_stop3[["Lat","Lng"]].to_numpy().flatten()
stop4 =  vacation_stop4[["Lat","Lng"]].to_numpy().flatten()
stop4

array([-0.3582, 42.5454])

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
rout = gmaps.directions_layer(start, end, travel_mode='DRIVING',waypoints = [stop2,stop3])
fig.add_layer(rout)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_stop1,vacation_stop2,vacation_stop3,vacation_stop4],ignore_index=True)
itinerary_df

,hotel_df,City,Country,Max Temp,Lat,Lng,Hotel Name
0,185,Kutum,SD,81.104,14.2000,24.6667,Dibbo areaمنطقة دبو
1,228,Ler,SS,82.796,8.3018,30.1418,Leer Humanitarian Hub
2,403,Lodwar,KE,83.156,3.1191,35.5973,Solmar Gracious Hotel
3,171,Kismayo,SO,81.356,-0.3582,42.5454,Agan-Hotel

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
rout = gmaps.marker_layer(locations = locations,info_box_content = hotel_info )
fig.add_layer(rout)
fig
# 11b. Display the figure

Figure(layout=FigureLayout(height='420px'))